$very-dark-blue: hsl(243, 87%, 12%);
$desaturated-blue: hsl(238, 22%, 44%);
$bright-blue: hsl(224, 93%, 58%);
$moderate-cyan: hsl(170, 45%, 43%);
$light-grayish-blue: hsl(240, 75%, 98%);
$light-gray: hsl(0, 0%, 75%);
$laptop: 1024px;
$tablet: 768px;

@mixin laptop {
  @media (min-width: #{$laptop}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}

* {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: $very-dark-blue;
  margin: 0;
  @include tablet() {
    font-size: 20px;
  }
  @include laptop() {
    font-size: 25px;
  }
}

h1,
h2,
button,
.nav {
  font-family: "Raleway", sans-serif;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}
a {
  text-decoration: none;
}

.container {
  padding: 0 20px;
  max-width: 100%;
  @include tablet() {
    padding: 0 40px;
  }
  @include laptop() {
    padding: 0 80px;
  }
}

.nav {
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  height: 80px;

  @include laptop() {
    height: 160px;
  }

  &__logo {
    max-width: 80px;
    @include laptop() {
      max-width: 170px;
    }
  }

  &__menu {
    font-size: 0.6875em;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  &__item {
    margin-left: 28px;
    @include laptop() {
      margin-left: 60px;
    }
  }
}

.header {
  margin-bottom: 50px;
  text-align: center;

  &__content {
    @include tablet() {
      text-align: left;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      flex-direction: row-reverse;
    }
  }
  &__img {
    max-width: 90%;
    margin-bottom: 40px;
    @include tablet() {
      width: 50%;
    }
  }

  &__desc {
    @include tablet() {
      width: 50%;
    }
  }

  &__title {
    font-size: 1.5625em;
    margin-bottom: 40px;
  }

  &__text {
    margin-bottom: 30px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;

  @include tablet() {
    flex-direction: row;
    width: 80%;
  }

  &__input {
    margin: auto;
    padding: 16px;
    width: 98%;
    margin-bottom: 25px;
    align-self: flex-end;
    border-radius: 5px;

    @include tablet() {
      width: 55%;
    }
  }

  &__btn {
    width: 98%;
    border-radius: 5px;
    padding: 18px 0;
    align-self: flex-start;

    @include tablet() {
      width: 40%;
    }
  }
}

.input {
  border: 1px solid;

  &::placeholder {
    color: $light-gray;
  }
}

.btn {
  border: none;
  color: white;
  background-color: $bright-blue;
  font-weight: 700;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.info {
  background-color: $light-grayish-blue;
  position: relative;
  margin-top: 100px;
  padding-bottom: 80px;

  @include tablet() {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row-reverse;
  }

  &::before {
    content: "";
    background-image: url(../images/bg-curve-mobile.svg);
    background-repeat: no-repeat;
    position: absolute;
    background-position: center center;
    background-size: cover;
    top: -43px;
    left: 0;
    width: 100%;
    height: 50px;

    @include tablet() {
      height: 130px;
      background-image: url(../images/bg-curve-desktop.svg);
      top: -100px;
    }
  }

  &__img {
    margin-bottom: 100px;
    @include tablet() {
      margin: 0;
      width: 50%;
    }
  }

  &__text {
    @include tablet() {
      margin: 0;
      width: 50%;
    }
  }

  &__title {
    font-size: 1.125em;
    text-align: center;
    margin-bottom: 30px;
    @include tablet() {
      text-align: left;
      font-size: 1.5em;
    }
  }

  &__paragraph {
    margin-bottom: 30px;
    color: $desaturated-blue;
    font-size: 0.9em;
    @include tablet() {
      width: 80%;
      font-size: 0.7em;
      margin-bottom: 10px;
    }
  }

  &__link {
    width: fit-content;
    margin: auto;
    display: flex;
    align-items: center;
    color: $moderate-cyan;
    margin-bottom: 40px;
    padding: 10px 0;
    border-bottom: 1px solid $moderate-cyan;
    @include tablet() {
      margin: 0 0 20px 0;
      font-size: 16px;
    }
  }

  &__arrow-icon {
    margin-left: 10px;
    width: 23px;
  }
}

.card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 20px 16px;

  @include tablet() {
    width: 60%;
  }
  &__text {
    font-size: 13px;
    line-height: 20px;
  }
}

.user {
  display: flex;
  align-items: center;

  &__img {
    max-width: 35px;
    border-radius: 50%;
  }

  &__info {
    margin-left: 10px;
    font-size: 14px;
  }

  &__name {
    margin: 0;
  }

  &__job {
    font-size: 10px;
  }
}

.access {
  background-color: $desaturated-blue;
  color: white;
  padding: 50px 25px;
  text-align: center;

  @include tablet() {
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: space-between;
  }

  &__info {
    @include tablet() {
      width: 50%;
    }
  }

  &__form {
    @include tablet() {
      width: 40%;
    }
  }

  &__input {
    padding: 12px;
    border: none;
    width: 80%;
    margin-top: 15px;
    margin-bottom: 10px;
    @include tablet() {
      width: 100%;
    }
  }

  &__btn {
    padding: 14px;
    width: 80%;
    font-size: 12px;
    @include tablet() {
      width: 40%;
    }
  }
}

.footer {
  background-color: $very-dark-blue;
  color: white;
  padding: 60px 25px 45px 25px;

  &__logo {
    margin-bottom: 40px;
  }

  &__content {
    @include tablet() {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
  }

  &__list {
    margin-bottom: 50px;
    padding: 0;
  }

  &__item {
    margin-bottom: 25px;
  }

  &__social {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    @include tablet() {
      margin-top: 25px;
    }
  }

  &__circle {
    border: 1px solid #fff;
    border-radius: 50%;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 2.5em;
    width: 2.5em;
    text-decoration: none;
  }

  &__media {
    margin: 0 5px;
  }
}
